<div class="container">
  <div class="row">
    <%if @owner_type == "owner" || @owner_type == "not signed in"%>
    <div class="title-div">
    <h1><%=@video.name || "Click to set title"%></h1><button class="btn btn-default btn-sm edit-title-button"><span class="glyphicon glyphicon-pencil"></span></button>
</div>
    <div class="edit-title-form">
        <button class="btn btn-default btn-sm cancel-edit-button"><span class="glyphicon glyphicon-remove"></span></button>
    <h1><%=form_for @video, role: "form" do |f|%>
    	<%=f.text_field :name%>
    	<%=f.submit "Set Title"%>
    	<%end%></h1>
        
    </div>
</div>
    <%elsif @owner_type == "not owner"%>
    <h1><%=@video.name%></h1>
    <%end%>
  </div>
  <video preload controls id="videoid" class="video-js vjs-default-skin"
    controls preload="auto" width="620" height="480">
   <source src="<%=@video.url%>" type='video/mp4' />
  </video>

  <%if @owner_type == "owner"%>
  <p>This video is saved to your account<p>
  <%= button_to "Delete",  @video, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{@video.name}?" %>
  <%elsif @owner_type == "not signed in"%>
  <p>Login to save this video to your account</p>
  <p>Or save this link if you might want to delete it.<br/>This link will not be shown again. 
  	<a href="<%=delete_video_page_path(@video.id, @video.delete_key)%>"><%="http://easyvid.herokuapp.com" + delete_video_page_path(@video.id, @video.delete_key)%></a><p>
  <%end%>
</div>
</div>
<script>
$('document').ready(function(){
    $('.edit-title-form').hide();
  $(".edit-title-button").click(function() {
    $('.edit-title-form').show();
    $(".title-div").hide();
});
$(".cancel-edit-button").click(function() {
    $('.edit-title-form').hide();
    $(".title-div").show();
});
});
  </script>